<div class="container">
    <div class="row">
        <div class="col-sm-4">
            <div class="image-detail">
                <img src="lib/portal-theme/img/produtos/itemlevel.jpg" data-zoom-image="lib/portal-theme/img/produtos/itemlevel.jpg" alt="">
            </div>
            <div class="products-slider-detail">
                <a href="#"><img src="lib/portal-theme/img/produtos/artifact.jpg" data-zoom-image="lib/portal-theme/img/produtos/artifact.jpg" alt="" class="img-thumbnail"></a>
                <a href="#"><img src="lib/portal-theme/img/produtos/honortalents.jpg" data-zoom-image="lib/portal-theme/img/produtos/honortalents.jpg" alt="" class="img-thumbnail"></a>
                <a href="#"><img src="lib/portal-theme/img/produtos/itemlevel.jpg" data-zoom-image="lib/portal-theme/img/produtos/itemlevel.jpg" alt="" class="img-thumbnail"></a>
                <a href="#"><img src="lib/portal-theme/img/produtos/pvpboost.jpg" data-zoom-image="lib/portal-theme/img/produtos/pvpboost.jpg" alt="" class="img-thumbnail"></a>
            </div>
        </div>
        <div class="col-sm-8">
            <div class="title-detail">Item Level</div>
            <table class="table table-detail">
                <tbody>
                    <tr>
                        <td>Disponibilidade</td>
                        <td>99 em estoque</td>
                    </tr>
                    <tr>
                        <td>Quantidade</td>
                        <td>
                            <div class="input-qty">
                                <input type="text" name="" value="1" class="form-control text-center" />
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <td>tipo</td>
                        <td>
                            <select name="" id="" class="select2">
                                <option value="S">S</option>
                                <option value="M">M</option>
                                <option value="L">L</option>
                                <option value="XL">XL</option>
                                <option value="XXL">XXL</option>
                            </select>
                        </td>
                    </tr>
                    <tr>
                        <td>Categoria</td>
                        <td>
                            <div class="checkbox"><input type="checkbox" id="checkbox1"><label for="checkbox1">Categoria 1</label></div>
                            <div class="checkbox"><input type="checkbox" id="checkbox2"><label for="checkbox2">Categoria 2</label></div>
                        </td>
                    </tr>
                    <tr>
                        <td class="btn-action"></td>
                        <td>
                            <button class="btn btn-sm"><i class="fa fa-shopping-cart"></i> Add to Cart</button>
                            <button class="btn btn-sm"><i class="fa fa-align-left"></i> Add to Compare</button>
                            <button class="btn btn-sm"><i class="fa fa-heart"></i> Add to Wishlist</button>
                        </td>
                    </tr>
                </tbody>
            </table>
            <!-- Nav tabs -->
            <ul class="nav nav-tabs" role="tablist">
                <li role="presentation" class="active"><a href="#desc" aria-controls="desc" role="tab" data-toggle="tab">Description</a></li>
                <li role="presentation"><a href="#detail" aria-controls="detail" role="tab" data-toggle="tab">Detail</a></li>                
            </ul>

            <!-- Tab panes -->
            <div class="tab-content tab-content-detail">
                <div role="tabpanel" class="tab-pane active" id="desc">
                    <div class="well">
                        <p>
                            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quas, molestiae odit? Animi eligendi, optio culpa cupiditate, minus, eaque sint delectus non id accusamus suscipit illum quaerat quibusdam expedita dolore quos distinctio corporis quae. Error molestiae consequatur nostrum placeat architecto maiores commodi ipsam incidunt, adipisci tempora ratione soluta aliquam, velit voluptatum dolore reprehenderit quis aut. Obcaecati nam non quis praesentium deserunt qui consequatur illum quae nobis? Optio eos, sit corporis quam distinctio, ad aspernatur quisquam ut, corrupti accusamus saepe labore veritatis sed est rerum. Iste odit reiciendis mollitia culpa illum eligendi, soluta magnam voluptatum ut sequi vitae vel labore quae, ducimus.
                        </p>
                    </div>
                </div>
                <div role="tabpanel" class="tab-pane" id="detail">
                    <div class="well">
                        <table class="table table-bordered">
                            <tbody>
                                <tr>
                                    <td width="40%">Lorem</td>
                                    <td>Ipsum</td>
                                </tr>
                                <tr>
                                    <td>Dolor</td>
                                    <td>Sit Amet</td>
                                </tr>
                                <tr>
                                    <td>Consectetur</td>
                                    <td>Adipisicing</td>
                                </tr>
                                <tr>
                                    <td>Excepteur</td>
                                    <td>Occaecat</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
                <div role="tabpanel" class="tab-pane" id="review">
                    <div class="well">
                        <div class="media">
                            <a class="pull-left" href="#">
                                <img class="media-object" alt="64x64" src="data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSI2NCIgaGVpZ2h0PSI2NCI+PHJlY3Qgd2lkdGg9IjY0IiBoZWlnaHQ9IjY0IiBmaWxsPSIjZWVlIi8+PHRleHQgdGV4dC1hbmNob3I9Im1pZGRsZSIgeD0iMzIiIHk9IjMyIiBzdHlsZT0iZmlsbDojYWFhO2ZvbnQtd2VpZ2h0OmJvbGQ7Zm9udC1zaXplOjEycHg7Zm9udC1mYW1pbHk6QXJpYWwsSGVsdmV0aWNhLHNhbnMtc2VyaWY7ZG9taW5hbnQtYmFzZWxpbmU6Y2VudHJhbCI+NjR4NjQ8L3RleHQ+PC9zdmc+">
                                <div class="product-rating">
                                    <i class="fa fa-star"></i>
                                    <i class="fa fa-star"></i>
                                    <i class="fa fa-star"></i>
                                    <i class="fa fa-star"></i>
                                    <i class="fa fa-star-half-o"></i>
                                </div>
                            </a>
                            <div class="media-body">
                                <h5 class="media-heading"><strong>John Thor</strong></h5>
                                Cras sit amet nibh libero, in gravida nulla. Nulla vel metus scelerisque ante sollicitudin commodo. Cras purus odio, vestibulum in vulputate at, tempus viverra turpis. Fusce condimentum nunc ac nisi vulputate fringilla. Donec lacinia congue felis in faucibus.
                            </div>
                        </div>
                        <div class="media">
                            <a class="pull-left" href="#">
                                <img class="media-object" alt="64x64" src="data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSI2NCIgaGVpZ2h0PSI2NCI+PHJlY3Qgd2lkdGg9IjY0IiBoZWlnaHQ9IjY0IiBmaWxsPSIjZWVlIi8+PHRleHQgdGV4dC1hbmNob3I9Im1pZGRsZSIgeD0iMzIiIHk9IjMyIiBzdHlsZT0iZmlsbDojYWFhO2ZvbnQtd2VpZ2h0OmJvbGQ7Zm9udC1zaXplOjEycHg7Zm9udC1mYW1pbHk6QXJpYWwsSGVsdmV0aWNhLHNhbnMtc2VyaWY7ZG9taW5hbnQtYmFzZWxpbmU6Y2VudHJhbCI+NjR4NjQ8L3RleHQ+PC9zdmc+">
                                <div class="product-rating">
                                    <i class="fa fa-star"></i>
                                    <i class="fa fa-star"></i>
                                    <i class="fa fa-star"></i>
                                    <i class="fa fa-star-half-o"></i>
                                    <i class="fa fa-star-o"></i>
                                </div>
                            </a>
                            <div class="media-body">
                                <h5 class="media-heading"><strong>Michael</strong></h5>
                                Cras sit amet nibh libero, in gravida nulla. Nulla vel metus scelerisque ante sollicitudin commodo. Cras purus odio, vestibulum in vulputate at, tempus viverra turpis. Fusce condimentum nunc ac nisi vulputate fringilla. Donec lacinia congue felis in faucibus.
                            </div>
                        </div>
                        <hr />
                        <h4>Add your review</h4>
                        <p></p>
                        <form role="form">
                            <div class="form-group">
                                <label for="Name">Name</label>
                                <input type="text" id="Name" class="form-control" placeholder="Name">
                            </div>
                            <div class="form-group">
                                <label for="Email">Email</label>
                                <input type="text" id="Email" class="form-control" placeholder="Email">
                            </div>
                            <div class="form-group">
                                <label for="input-rating">Rating</label><div class="clearfix"></div>
                                <div class="input-rating" id="input-rating"></div>
                            </div>
                            <div class="form-group">
                                <label for="Review">Your Review</label>
                                <textarea id="Review" class="form-control" rows="5" placeholder="Your Review"></textarea>
                            </div>
                            <button type="submit" class="btn btn-sm">Submit Review</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row row-related">
        <div class="col-xs-12">
            <div class="title"><span>Produtos</span></div>
            <div class="col-sm-3 col-md-2 box-product-outer">
                <div class="box-product">
                    <div class="img-wrapper">
                        <a href="#/detail">
                            <img alt="Product" src="lib/portal-theme/img/produtos/itemlevel.jpg">
                        </a>
                        <div class="tags">
                            <span class="label-tags"><span class="label label-danger">Hot Item</span></span>
                        </div>
                        <div class="option">
                            <a href="#" data-toggle="tooltip" data-placement="bottom" title="Add to Cart"><i class="ace-icon fa fa-shopping-cart"></i></a>
                            <a href="#" data-toggle="tooltip" data-placement="bottom" title="Compare"><i class="ace-icon fa fa-align-left"></i></a>
                            <a href="#" data-toggle="tooltip" data-placement="bottom" title="Wishlist"><i class="ace-icon fa fa-heart"></i></a>
                        </div>
                    </div>
                    <h6><a href="#/detail">WranglerGrey Printed Slim Fit Round Neck T-Shirt</a></h6>
                    <div class="price">
                        <div>$15.99<span class="price-down">-10%</span></div>
                        <span class="price-old">$15.00</span>
                    </div>
                    <div class="rating">
                        <i class="ace-icon fa fa-star"></i>
                        <i class="ace-icon fa fa-star"></i>
                        <i class="ace-icon fa fa-star"></i>
                        <i class="ace-icon fa fa-star-half-o"></i>
                        <i class="ace-icon fa fa-star-o"></i>
                        <a href="#">(5 reviews)</a>
                    </div>
                </div>
            </div>
            <div class="col-sm-3 col-md-2 box-product-outer">
                <div class="box-product">
                    <div class="img-wrapper">
                        <a href="#/detail">
                            <img alt="Product" src="lib/portal-theme/img/produtos/itemlevel.jpg">
                        </a>
                        <div class="tags">
                            <span class="label-tags"><span class="label label-danger">Hot Item</span></span>
                        </div>
                        <div class="option">
                            <a href="#" data-toggle="tooltip" data-placement="bottom" title="Add to Cart"><i class="ace-icon fa fa-shopping-cart"></i></a>
                            <a href="#" data-toggle="tooltip" data-placement="bottom" title="Compare"><i class="ace-icon fa fa-align-left"></i></a>
                            <a href="#" data-toggle="tooltip" data-placement="bottom" title="Wishlist"><i class="ace-icon fa fa-heart"></i></a>
                        </div>
                    </div>
                    <h6><a href="#/detail">WranglerGrey Printed Slim Fit Round Neck T-Shirt</a></h6>
                    <div class="price">
                        <div>$15.99<span class="price-down">-10%</span></div>
                        <span class="price-old">$15.00</span>
                    </div>
                    <div class="rating">
                        <i class="ace-icon fa fa-star"></i>
                        <i class="ace-icon fa fa-star"></i>
                        <i class="ace-icon fa fa-star"></i>
                        <i class="ace-icon fa fa-star-half-o"></i>
                        <i class="ace-icon fa fa-star-o"></i>
                        <a href="#">(5 reviews)</a>
                    </div>
                </div>
            </div>
            <div class="col-sm-3 col-md-2 box-product-outer">
                <div class="box-product">
                    <div class="img-wrapper">
                        <a href="#/detail">
                            <img alt="Product" src="lib/portal-theme/img/produtos/itemlevel.jpg">
                        </a>
                        <div class="tags">
                            <span class="label-tags"><span class="label label-danger">Hot Item</span></span>
                        </div>
                        <div class="option">
                            <a href="#" data-toggle="tooltip" data-placement="bottom" title="Add to Cart"><i class="ace-icon fa fa-shopping-cart"></i></a>
                            <a href="#" data-toggle="tooltip" data-placement="bottom" title="Compare"><i class="ace-icon fa fa-align-left"></i></a>
                            <a href="#" data-toggle="tooltip" data-placement="bottom" title="Wishlist"><i class="ace-icon fa fa-heart"></i></a>
                        </div>
                    </div>
                    <h6><a href="#/detail">WranglerGrey Printed Slim Fit Round Neck T-Shirt</a></h6>
                    <div class="price">
                        <div>$15.99<span class="price-down">-10%</span></div>
                        <span class="price-old">$15.00</span>
                    </div>
                    <div class="rating">
                        <i class="ace-icon fa fa-star"></i>
                        <i class="ace-icon fa fa-star"></i>
                        <i class="ace-icon fa fa-star"></i>
                        <i class="ace-icon fa fa-star-half-o"></i>
                        <i class="ace-icon fa fa-star-o"></i>
                        <a href="#">(5 reviews)</a>
                    </div>
                </div>
            </div>
            <div class="col-sm-3 col-md-2 box-product-outer">
                <div class="box-product">
                    <div class="img-wrapper">
                        <a href="#/detail">
                            <img alt="Product" src="lib/portal-theme/img/produtos/itemlevel.jpg">
                        </a>
                        <div class="tags">
                            <span class="label-tags"><span class="label label-danger">Hot Item</span></span>
                        </div>
                        <div class="option">
                            <a href="#" data-toggle="tooltip" data-placement="bottom" title="Add to Cart"><i class="ace-icon fa fa-shopping-cart"></i></a>
                            <a href="#" data-toggle="tooltip" data-placement="bottom" title="Compare"><i class="ace-icon fa fa-align-left"></i></a>
                            <a href="#" data-toggle="tooltip" data-placement="bottom" title="Wishlist"><i class="ace-icon fa fa-heart"></i></a>
                        </div>
                    </div>
                    <h6><a href="#/detail">WranglerGrey Printed Slim Fit Round Neck T-Shirt</a></h6>
                    <div class="price">
                        <div>$15.99<span class="price-down">-10%</span></div>
                        <span class="price-old">$15.00</span>
                    </div>
                    <div class="rating">
                        <i class="ace-icon fa fa-star"></i>
                        <i class="ace-icon fa fa-star"></i>
                        <i class="ace-icon fa fa-star"></i>
                        <i class="ace-icon fa fa-star-half-o"></i>
                        <i class="ace-icon fa fa-star-o"></i>
                        <a href="#">(5 reviews)</a>
                    </div>
                </div>
            </div>
            <div class="col-sm-3 col-md-2 box-product-outer visible-md visible-lg">
                <div class="box-product">
                    <div class="img-wrapper">
                        <a href="#/detail">
                            <img alt="Product" src="lib/portal-theme/img/produtos/itemlevel.jpg">
                        </a>
                        <div class="tags">
                            <span class="label-tags"><span class="label label-danger">Hot Item</span></span>
                        </div>
                        <div class="option">
                            <a href="#" data-toggle="tooltip" data-placement="bottom" title="Add to Cart"><i class="ace-icon fa fa-shopping-cart"></i></a>
                            <a href="#" data-toggle="tooltip" data-placement="bottom" title="Compare"><i class="ace-icon fa fa-align-left"></i></a>
                            <a href="#" data-toggle="tooltip" data-placement="bottom" title="Wishlist"><i class="ace-icon fa fa-heart"></i></a>
                        </div>
                    </div>
                    <h6><a href="#/detail">WranglerGrey Printed Slim Fit Round Neck T-Shirt</a></h6>
                    <div class="price">
                        <div>$15.99<span class="price-down">-10%</span></div>
                        <span class="price-old">$15.00</span>
                    </div>
                    <div class="rating">
                        <i class="ace-icon fa fa-star"></i>
                        <i class="ace-icon fa fa-star"></i>
                        <i class="ace-icon fa fa-star"></i>
                        <i class="ace-icon fa fa-star-half-o"></i>
                        <i class="ace-icon fa fa-star-o"></i>
                        <a href="#">(5 reviews)</a>
                    </div>
                </div>
            </div>
            <div class="col-sm-3 col-md-2 box-product-outer visible-md visible-lg">
                <div class="box-product">
                    <div class="img-wrapper">
                        <a href="#/detail">
                            <img alt="Product" src="lib/portal-theme/img/produtos/itemlevel.jpg">
                        </a>
                        <div class="tags">
                            <span class="label-tags"><span class="label label-danger">Hot Item</span></span>
                        </div>
                        <div class="option">
                            <a href="#" data-toggle="tooltip" data-placement="bottom" title="Add to Cart"><i class="ace-icon fa fa-shopping-cart"></i></a>
                            <a href="#" data-toggle="tooltip" data-placement="bottom" title="Compare"><i class="ace-icon fa fa-align-left"></i></a>
                            <a href="#" data-toggle="tooltip" data-placement="bottom" title="Wishlist"><i class="ace-icon fa fa-heart"></i></a>
                        </div>
                    </div>
                    <h6><a href="#/detail">WranglerGrey Printed Slim Fit Round Neck T-Shirt</a></h6>
                    <div class="price">
                        <div>$15.99<span class="price-down">-10%</span></div>
                        <span class="price-old">$15.00</span>
                    </div>
                    <div class="rating">
                        <i class="ace-icon fa fa-star"></i>
                        <i class="ace-icon fa fa-star"></i>
                        <i class="ace-icon fa fa-star"></i>
                        <i class="ace-icon fa fa-star-half-o"></i>
                        <i class="ace-icon fa fa-star-o"></i>
                        <a href="#">(5 reviews)</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<script src="lib/portal-theme/js/owl.carousel.min.js"></script>   
<script>
    // owlcarosel (if items less than 4, hide nav, disable drag, hide touch)
    var products_slider_detail = $('.products-slider-detail');
    var item_count = $('.products-slider-detail a').length;
    products_slider_detail.owlCarousel({
        margin:5,
        dots:false,
        nav:item_count < 5 ? false : true,
        mouseDrag:item_count < 5 ? false : true,
        touchDrag:item_count < 5 ? false : true,
        navText:['<i class="fa fa-angle-left"></i>','<i class="fa fa-angle-right"></i>'],
        responsive:{
            0:{ items:4, }
        }
    });
    $('.products-slider-detail a').click(function(){
        var src = $(this).find('img').attr('src');
        var zoom = $(this).find('img').attr('data-zoom-image');
        var detail = $(this).parent().parent().parent().parent().parent().find('.image-detail img');
        detail.attr('src',src);
        detail.attr('data-zoom-image',zoom);
        $('.zoomWindow').css('background-image', 'url("' + zoom + '")');
        return false;
    })
    $(function(){
        if (get_width() >= 768) {
            $('.image-detail img').ezPlus({
                responsive : true,
                respond: [
                    {
                        range: '1200-10000',
                        zoomWindowHeight: 490,
                        zoomWindowWidth: 782
                    },
                    {
                        range: '992-1200',
                        zoomWindowHeight: 400,
                        zoomWindowWidth: 649
                    },
                    {
                        range: '768-992',
                        zoomWindowHeight: 300,
                        zoomWindowWidth: 502
                    },
                    {
                        range: '100-768',
                        zoomWindowHeight: 0,
                        zoomWindowWidth: 0
                    }
                ]
            });
        }
    });
    $('.input-rating').raty({
        'half': true,
        'starType' : 'i'
    });
</script>