<div>    
    <div class="footer">
        <div class="container">
            <div class="row">
                <div class="col-md-3 col-sm-6">
                    <h4>Sobre</h4>
                    <ul>
                        <li>
                            Gamixed... <a href="#">Leia mais</a>
                        </li>
                    </ul>
                </div>
                <div class="col-md-3 col-sm-6">
                    <h4>Informação</h4>
                    <ul>
                        <li><a href="#"><i class="fa fa-angle-double-right"></i> FAQ</a></li>
                        <li><a href="#"><i class="fa fa-angle-double-right"></i> Policy Privacy</a></li>
                        <li><a href="#"><i class="fa fa-angle-double-right"></i> Terms and Conditions</a></li>
                        <li><a href="#"><i class="fa fa-angle-double-right"></i> Shipping Methods</a></li>
                    </ul>
                </div>
                <div class="clearfix visible-sm-block"></div>
                <div class="col-md-3 col-sm-6">
                    <h4>Categorias</h4>
                    <ul>
                        <li><a href="#"><i class="fa fa-angle-double-right"></i> Cras justo odio</a></li>
                        <li><a href="#"><i class="fa fa-angle-double-right"></i> Dapibus ac facilisis in</a></li>
                        <li><a href="#"><i class="fa fa-angle-double-right"></i> Morbi leo risus</a></li>
                        <li><a href="#"><i class="fa fa-angle-double-right"></i> Porta ac consectetur ac</a></li>
                    </ul>
                </div>
                <div class="col-md-3 col-sm-6">
                    <h4>Notícias</h4>
                    <p>Notícias na gamixed</p>
                    <div class="input-group">
                        <input class="form-control" type="text" placeholder="Email Address">
                        <span class="input-group-btn">
                            <button class="btn btn-default subscribe-button" type="button">Subscribe</button>
                        </span>
                    </div>
                </div>
            </div>            
        </div>
        <div class="text-center copyright">
            Copyright &copy; 2016 Mimity All right reserved
        </div>
    </div>

    <a href="#top" class="back-top text-center" onclick="$('body,html').animate({scrollTop:0},500); return false">
        <i class="fa fa-angle-double-up"></i>
    </a>

    <div class="chooser chooser-hide">
        <div class="chooser-toggle"><button class="btn btn-warning"><i class="fa fa-paint-brush bigger-130"></i></button></div>
        <div class="chooser-content">
            <label>Color</label>
            <select name="color-chooser" id="color-chooser" class="form-control">
                <option value="blue">Blue</option>
                <option value="red">Red</option>
                <option value="teal">Teal</option>
                <option value="brown">Brown</option>
            </select>
        </div>
    </div>
</div>