<did>
    <div class="top-header">
        <div class="container">
            <div class="row">
                <div class="col-xs-12">
                    <div class="pull-left header-language">
                        <div class="dropdown">
                            <a href="#" class="dropdown-toggle" id="dropdownLanguage" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                <img alt="Português" src="lib/portal-theme/img/flags/br.png">Português <i class="fa fa-caret-down"></i>
                            </a>
                            <ul class="dropdown-menu" aria-labelledby="dropdownLanguage">
                                <li><a href="#"><img alt="Português" src="lib/portal-theme/img/flags/br.png">Português</a></li>
                                <li><a href="#"><img alt="English" src="lib/portal-theme/img/flags/usa.png">English</a></li>
                            </ul>
                        </div>
                    </div>
                    <div class="pull-left hidden-xs"><a href="#"><i class="fa fa-envelope"></i> gamixed@gamixed.com</a></div>
                    <div class="pull-right header-account">
                        <div class="dropdown">
                            <a href="" class="dropdown-toggle" id="dropdownAccount" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                <span ng-if="!isLogged()"><i class="fa fa-user"></i> Minha Conta <i class="fa fa-caret-down"></i></span>
                                <span ng-if="isLogged()"><i class="fa fa-user"></i> {{nomeUsuario}} <i class="fa fa-caret-down"></i></span>
                            </a>
                            <ul class="dropdown-menu dropdown-menu-right" aria-labelledby="dropdownAccount">
                                <li ng-if="!isLogged()"><a href="#/login">Login</a></li>
                                <li ng-if="isLogged()"><a href="#/home">Logout</a></li>
                            </ul>
                        </div>
                    </div>                    
                </div>
            </div>
        </div>
    </div>
    <div class="middle-header">
        <div class="container">
            <div class="main-header">
                <div class="row">
                    <div class="col-md-3">
                        <a href="#"><img alt="Logo" src="lib/portal-theme/img/site/logo.png" /></a>
                    </div>
                    <div class="col-sm-8 col-md-6 search-box">
                        <form class="form-inline">
                            <div class="form-group search-input">
                                <input type="text" class="form-control" placeholder="Busque aqui...">
                            </div>                                                    
                            <button type="submit" class="search-btn"></button>
                        </form>
                    </div>                    
                </div>
            </div>
        </div>
    </div>


    <nav class="navbar navbar-default navbar-full-slider" role="navigation">
        <div class="container">
            <div class="row">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar-ex1-collapse">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <a href="cart.html" class="visible-xs btn-cart-xs pull-right">
                        <button type="button" class="btn btn-default"><i class="fa fa-shopping-cart"></i> Cart : 3 items</button>
                    </a>
                </div>
                <div class="collapse navbar-collapse" id="navbar-ex1-collapse">
                    <ul class="nav navbar-nav">
                        <li><a href="/">Home</a></li>
                        <li><a href="#/products">Produtos</a></li>  
                        <li><a href="#/users" ng-if="isLogged()">Usuário</a></li>  
                    </ul>
                </div>
            </div>
        </div>
    </nav>
    <div class="add-space-top"></div>
    <script src="lib/portal-theme/js/mimity.js"></script>
</did>
