  <!-- Full Slider -->
<div class="container-fluid">
    <div class="row">
        <div class="slider home-slider">
            <div class="item">
                <a href="products.html"><img style="max-height:500px" src="lib/portal-theme/img/slider/slide1.png" alt="Slider"></a>
            </div>
            <div class="item">
                <a href="products.html"><img style="max-height:500px" src="lib/portal-theme/img/slider/slide2.png" alt="Slider"></a>
            </div>
            <div class="item">
                <a href="products.html"><img style="max-height:500px" src="lib/portal-theme/img/slider/slide3.jpg" alt="Slider"></a>
            </div>
        </div>
    </div>
</div>
<!-- End Full Slider -->
<div class="container">
    <div class="row">
        <!-- New Arrivals & Best Selling -->
        <div class="col-md-3">
            <div class="title"><span><a href="#/products.html">Lançamentos <i class="fa fa-chevron-circle-right"></i></a></span></div>
            <div class="slider widget-slider">
                <div class="box-product">
                    <div class="img-wrapper">
                        <a href="#/detail">
                            <img alt="Product" src="lib/portal-theme/img/produtos/itemlevel.jpg">
                        </a>
                        <div class="tags tags-left">
                            <span class="label-tags"><span class="label label-success">Novo</span></span>
                        </div>
                        <div class="option">
                            <a href="#" data-toggle="tooltip" data-placement="bottom" title="Adicionar ao Carrinho"><i class="ace-icon fa fa-shopping-cart"></i></a>
                            <a href="#" data-toggle="tooltip" data-placement="bottom" title="Lista de Desejos"><i class="ace-icon fa fa-heart"></i></a>
                        </div>
                    </div>
                    <h6><a href="#/detail">Item level para Artifact</a></h6>
                    <div class="price">
                        <div>R$ 10,00</div>
                    </div>
                </div>
                <div class="box-product">
                    <div class="img-wrapper">
                        <a href="#/detail">
                            <img alt="Product" src="lib/portal-theme/img/produtos/powerlevel.jpg">
                        </a>
                        <div class="tags tags-left">
                            <span class="label-tags"><span class="label label-success">Novo</span></span>
                        </div>
                        <div class="option">
                            <a href="#" data-toggle="tooltip" data-placement="bottom" title="Adicionar ao Carrinho"><i class="ace-icon fa fa-shopping-cart"></i></a>
                            <a href="#" data-toggle="tooltip" data-placement="bottom" title="Lista de Desejos"><i class="ace-icon fa fa-heart"></i></a>
                        </div>
                    </div>
                    <h6><a href="#/detail">Item level para Artifact</a></h6>
                    <div class="price">
                        <div>R$ 10,00</div>
                    </div>
                </div>
                <div class="box-product">
                    <div class="img-wrapper">
                        <a href="#/detail">
                            <img alt="Product" src="lib/portal-theme/img/produtos/artifact.jpg">
                        </a>
                        <div class="tags tags-left">
                            <span class="label-tags"><span class="label label-success">Novo</span></span>
                        </div>
                        <div class="option">
                            <a href="#" data-toggle="tooltip" data-placement="bottom" title="Adicionar ao Carrinho"><i class="ace-icon fa fa-shopping-cart"></i></a>
                            <a href="#" data-toggle="tooltip" data-placement="bottom" title="Lista de Desejos"><i class="ace-icon fa fa-heart"></i></a>
                        </div>
                    </div>
                    <h6><a href="#/detail">Item level para Artifact</a></h6>
                    <div class="price">
                        <div>R$ 10,00</div>
                    </div>
                </div>
            </div>
            <div class="title"><span><a href="products.html">Mais Vendidos <i class="fa fa-chevron-circle-right"></i></a></span></div>
            <div class="slider widget-slider">
                <div class="box-product">
                    <div class="img-wrapper">
                        <a href="#/detail">
                            <img alt="Product" src="lib/portal-theme/img/produtos/itemlevel.jpg">
                        </a>
                        <div class="tags tags-left">
                            <span class="label-tags"><span class="label label-success">Novo</span></span>
                        </div>
                        <div class="option">
                            <a href="#" data-toggle="tooltip" data-placement="bottom" title="Adicionar ao Carrinho"><i class="ace-icon fa fa-shopping-cart"></i></a>
                            <a href="#" data-toggle="tooltip" data-placement="bottom" title="Lista de Desejos"><i class="ace-icon fa fa-heart"></i></a>
                        </div>
                    </div>
                    <h6><a href="#/detail">Item level para Artifact</a></h6>
                    <div class="price">
                        <div>R$ 10,00</div>
                    </div>
                </div>
                <div class="box-product">
                    <div class="img-wrapper">
                        <a href="#/detail">
                            <img alt="Product" src="lib/portal-theme/img/produtos/powerlevel.jpg">
                        </a>
                        <div class="tags tags-left">
                            <span class="label-tags"><span class="label label-success">Novo</span></span>
                        </div>
                        <div class="option">
                            <a href="#" data-toggle="tooltip" data-placement="bottom" title="Adicionar ao Carrinho"><i class="ace-icon fa fa-shopping-cart"></i></a>
                            <a href="#" data-toggle="tooltip" data-placement="bottom" title="Lista de Desejos"><i class="ace-icon fa fa-heart"></i></a>
                        </div>
                    </div>
                    <h6><a href="#/detail">Item level para Artifact</a></h6>
                    <div class="price">
                        <div>R$ 10,00</div>
                    </div>
                </div>
                <div class="box-product">
                    <div class="img-wrapper">
                        <a href="#/detail">
                            <img alt="Product" src="lib/portal-theme/img/produtos/artifact.jpg">
                        </a>
                        <div class="tags tags-left">
                            <span class="label-tags"><span class="label label-success">Novo</span></span>
                        </div>
                        <div class="option">
                            <a href="#" data-toggle="tooltip" data-placement="bottom" title="Adicionar ao Carrinho"><i class="ace-icon fa fa-shopping-cart"></i></a>
                            <a href="#" data-toggle="tooltip" data-placement="bottom" title="Lista de Desejos"><i class="ace-icon fa fa-heart"></i></a>
                        </div>
                    </div>
                    <h6><a href="#/detail">Item level para Artifact</a></h6>
                    <div class="price">
                        <div>R$ 10,00</div>
                    </div>
                </div>
            </div>
        </div>
        <!-- End New Arrivals & Best Selling -->

        <div class="clearfix visible-sm"></div>

        <!-- Featured -->
        <div class="col-md-9">
            <div class="title"><span>Produtos</span></div>
            <div class="col-sm-4 col-md-3 box-product-outer">
                <div class="box-product">
                    <div class="img-wrapper">
                        <a href="#/detail">
                            <img alt="Product" src="lib/portal-theme/img/produtos/thirdrelic.jpg">
                        </a>                        
                        <div class="option">
                            <a href="#" data-toggle="tooltip" data-placement="bottom" title="Adicionar ao Carrinho"><i class="ace-icon fa fa-shopping-cart"></i></a>

                            <a href="#" data-toggle="tooltip" data-placement="bottom" title="Wishlist"><i class="ace-icon fa fa-heart"></i></a>
                        </div>
                    </div>
                    <h6><a href="#/detail">Third Relic</a></h6>
                    <div class="price">
                        <div>R$16,59</div>                        
                    </div>
                    <div class="rating">
                        <i class="ace-icon fa fa-star"></i>
                        <i class="ace-icon fa fa-star"></i>                        
                        <i class="ace-icon fa fa-star-half-o"></i>
                        <a href="#">(2 reviews)</a>
                    </div>
                </div>
            </div>
            <div class="col-sm-4 col-md-3 hidden-xs box-product-outer">
                <div class="box-product">
                    <div class="img-wrapper">
                        <a href="#/detail">
                            <img alt="Product" src="lib/portal-theme/img/produtos/artifact.jpg">
                        </a>
                        <div class="option">
                            <a href="#" data-toggle="tooltip" data-placement="bottom" title="Adicionar ao Carrinho"><i class="ace-icon fa fa-shopping-cart"></i></a>

                            <a href="#" data-toggle="tooltip" data-placement="bottom" title="Wishlist"><i class="ace-icon fa fa-heart"></i></a>
                        </div>
                    </div>
                    <h6><a href="#/detail">Artifact</a></h6>
                    <div class="price">
                        <div>R$20,00</div>
                    </div>
                    <div class="rating">
                        <i class="ace-icon fa fa-star"></i>
                        <i class="ace-icon fa fa-star"></i>
                        <i class="ace-icon fa fa-star-half-o"></i>
                        <a href="#">(2 reviews)</a>
                    </div>
                </div>
            </div>
            <div class="col-sm-4 col-md-3 hidden-xs box-product-outer">
                <div class="box-product">
                    <div class="img-wrapper">
                        <a href="#/detail">
                            <img alt="Product" src="lib/portal-theme/img/produtos/honortalents.jpg">
                        </a>
                        <div class="option">
                            <a href="#" data-toggle="tooltip" data-placement="bottom" title="Adicionar ao Carrinho"><i class="ace-icon fa fa-shopping-cart"></i></a>

                            <a href="#" data-toggle="tooltip" data-placement="bottom" title="Wishlist"><i class="ace-icon fa fa-heart"></i></a>
                        </div>
                    </div>
                    <h6><a href="#/detail">Honor Talents</a></h6>
                    <div class="price">
                        <div>R$6,59</div>
                    </div>
                    <div class="rating">
                        <i class="ace-icon fa fa-star"></i>
                        <i class="ace-icon fa fa-star"></i>
                        <i class="ace-icon fa fa-star"></i>
                        <i class="ace-icon fa fa-star"></i>
                        <i class="ace-icon fa fa-star"></i>
                        <a href="#">(2 reviews)</a>
                    </div>
                </div>
            </div>
            <div class="col-sm-4 col-md-3 hidden-sm hidden-xs box-product-outer">
                <div class="box-product">
                    <div class="img-wrapper">
                        <a href="#/detail">
                            <img alt="Product" src="lib/portal-theme/img/produtos/powerlevel.jpg">
                        </a>
                        <div class="option">
                            <a href="#" data-toggle="tooltip" data-placement="bottom" title="Adicionar ao Carrinho"><i class="ace-icon fa fa-shopping-cart"></i></a>

                            <a href="#" data-toggle="tooltip" data-placement="bottom" title="Wishlist"><i class="ace-icon fa fa-heart"></i></a>
                        </div>
                    </div>
                    <h6><a href="#/detail">Power Level</a></h6>
                    <div class="price">
                        <div>R$11,00</div>
                    </div>
                    <div class="rating">
                        <i class="ace-icon fa fa-star"></i>
                        <i class="ace-icon fa fa-star"></i>
                        <i class="ace-icon fa fa-star-half-o"></i>
                        <a href="#">(2 reviews)</a>
                    </div>
                </div>
            </div>
            <div class="title"><span>Promoções</div>
            <div class="col-sm-4 col-md-3 box-product-outer">
                <div class="box-product">
                    <div class="img-wrapper">
                        <a href="#/detail">
                            <img alt="Product" src="lib/portal-theme/img/produtos/itemlevel.jpg">
                        </a>                        
                        <div class="option">
                            <a href="#" data-toggle="tooltip" data-placement="bottom" title="Adicionar ao Carrinho"><i class="ace-icon fa fa-shopping-cart"></i></a>

                            <a href="#" data-toggle="tooltip" data-placement="bottom" title="Wishlist"><i class="ace-icon fa fa-heart"></i></a>
                        </div>
                    </div>
                    <h6><a href="#/detail">Item level</a></h6>
                    <div class="price">
                        <div>R$13,25<span class="price-down">-10%</span></div>
                        <span class="price-old">R$15,00</span>
                    </div>
                    <div class="rating">
                        <i class="ace-icon fa fa-star"></i>
                        <i class="ace-icon fa fa-star"></i>
                        <i class="ace-icon fa fa-star"></i>
                        <i class="ace-icon fa fa-star-half-o"></i>
                        <i class="ace-icon fa fa-star-o"></i>
                        <a href="#">(5 reviews)</a>
                    </div>
                </div>
            </div>
            <div class="col-sm-4 col-md-3 hidden-xs box-product-outer">
                <div class="box-product">
                    <div class="img-wrapper">
                        <a href="#/detail">
                            <img alt="Product" src="lib/portal-theme/img/produtos/powerlevel.jpg">
                        </a>
                        <div class="option">
                            <a href="#" data-toggle="tooltip" data-placement="bottom" title="Adicionar ao Carrinho"><i class="ace-icon fa fa-shopping-cart"></i></a>

                            <a href="#" data-toggle="tooltip" data-placement="bottom" title="Wishlist"><i class="ace-icon fa fa-heart"></i></a>
                        </div>
                    </div>
                    <h6><a href="#/detail">Power Level</a></h6>
                    <div class="price">
                        <div>R$3,25<span class="price-down">-90%</span></div>
                        <span class="price-old">R$13,00</span>
                    </div>
                    <div class="rating">
                        <i class="ace-icon fa fa-star"></i>
                        <i class="ace-icon fa fa-star"></i>
                        <i class="ace-icon fa fa-star"></i>
                        <i class="ace-icon fa fa-star-half-o"></i>
                        <i class="ace-icon fa fa-star-o"></i>
                        <a href="#">(5 reviews)</a>
                    </div>
                </div>
            </div>
            <div class="col-sm-4 col-md-3 hidden-xs box-product-outer">
                <div class="box-product">
                    <div class="img-wrapper">
                        <a href="#/detail">
                            <img alt="Product" src="lib/portal-theme/img/produtos/worldrequests.jpg">
                        </a>
                        <div class="option">
                            <a href="#" data-toggle="tooltip" data-placement="bottom" title="Adicionar ao Carrinho"><i class="ace-icon fa fa-shopping-cart"></i></a>

                            <a href="#" data-toggle="tooltip" data-placement="bottom" title="Wishlist"><i class="ace-icon fa fa-heart"></i></a>
                        </div>
                    </div>
                    <h6><a href="#/detail">World Requests</a></h6>
                    <div class="price">
                        <div>R$11,00<span class="price-down">-30%</span></div>
                        <span class="price-old">R$15,00</span>
                    </div>
                    <div class="rating">
                        <i class="ace-icon fa fa-star"></i>
                        <i class="ace-icon fa fa-star"></i>
                        <i class="ace-icon fa fa-star"></i>
                        <i class="ace-icon fa fa-star-half-o"></i>
                        <i class="ace-icon fa fa-star-o"></i>
                        <a href="#">(5 reviews)</a>
                    </div>
                </div>
            </div>
            <div class="col-sm-4 col-md-3 hidden-sm hidden-xs box-product-outer">
                <div class="box-product">
                    <div class="img-wrapper">
                        <a href="#/detail">
                            <img alt="Product" src="lib/portal-theme/img/produtos/pvpboost.jpg">
                        </a>
                        <div class="option">
                            <a href="#" data-toggle="tooltip" data-placement="bottom" title="Adicionar ao Carrinho"><i class="ace-icon fa fa-shopping-cart"></i></a>

                            <a href="#" data-toggle="tooltip" data-placement="bottom" title="Wishlist"><i class="ace-icon fa fa-heart"></i></a>
                        </div>
                    </div>
                    <h6><a href="#/detail">PVP boost</a></h6>
                    <div class="price">
                        <div>R$13,25<span class="price-down">-35%</span></div>
                        <span class="price-old">R$20,00</span>
                    </div>
                    <div class="rating">
                        <i class="ace-icon fa fa-star"></i>
                        <i class="ace-icon fa fa-star"></i>
                        <i class="ace-icon fa fa-star"></i>
                        <i class="ace-icon fa fa-star-half-o"></i>
                        <i class="ace-icon fa fa-star-o"></i>
                        <a href="#">(5 reviews)</a>
                    </div>
                </div>
            </div>
        </div>
        <!-- End Featured -->

    </div>
</div>

<script src="lib/portal-theme/js/mimity.js"></script>
